.Grass {
	position: absolute;
	top: 54em;
	left: -17em;
	width: 200%;
	height: 4em;
	background-image: url("../images/gras.png");
	background-repeat: repeat-x;
	background-size: 17em 100%;
	animation: 5.0s slidinggrass linear infinite;
}

@keyframes slidinggrass {
	from {
		left: 0em;
	}
	to {
		left: -17em;
	}
}

.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 7em;
	height: 7em;
	background-image: url("../images/bird.png");
	background-repeat: no-repeat;
	background-size: 100%;
	
	-webkit-backface-visibility: hidden;
   	-moz-backface-visibility: hidden;
   	-ms-backface-visibility: hidden;
   	backface-visibility: hidden;

   	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
   	perspective: 1000;
	
}

.Player img {
	width: 100%;
	position:absolute;
    left:0;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;    
    transition: opacity 1s ease-in-out;
}

.Player img.top {
    /* animation: 1.0s flap alternate infinite; */
}

.Player img.bottom {
    /* animation: 1.0s flapup alternate infinite; */
}

@keyframes flapup {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes flap {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.PipeSet1 {
	position: absolute;
	top: -20em;
	left: 10em;
	width: 10em;
	height: 110em;
	background-image: url("../images/pipes.png");
	background-size: 100% 100%;
}

.PipeSet2 {
	position: absolute;
	top: -20em;
	left: 10em;
	width: 10em;
	height: 110em;
	background-image: url("../images/pipes.png");
	background-size: 100% 100%;
}

.PipeSet3 {
	position: absolute;
	top: -20em;
	left: 10em;
	width: 10em;
	height: 110em;
	background-image: url("../images/pipes.png");
	background-size: 100% 100%;
}

.PipeSet4 {
	position: absolute;
	top: -20em;
	left: 10em;
	width: 10em;
	height: 110em;
	background-image: url("../images/pipes.png");
	background-size: 100% 100%;
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: lightyellow;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid darkorange;
	background: none;
	cursor: pointer;
}

.Scoreboard-restartText {
	font-family: 'Arial', serif;
	font-size: 2.4em;
	color: darkorange;
}

body {
	background: black;
}

.browsehappy {
	margin: 0.2em 0;
	background: ?#?ccc?;
	color: #000;
	padding: 0.2em 0;
}

.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
	background: yellow;
}

.Backgroungimg {
	position: absolute;
	top: 0;
	left: -30em;
	width: 200%;
	height: 100%;
	background-image: url("../images/background.png");
	background-repeat: repeat-x;
	background-size: 30em 100%;
	animation: 20.0s slidingbackground linear infinite;
}

@keyframes slidingbackground {
	from {
		left: 0em;
	}
	to {
		left: -30em;
	}
}